.Blog__mainWrapper{

    width: 90%;
    margin: 20px auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}
.Blog__mainBlogWrapper{
    width: 60%;
    padding: 10px;
    
}
.Blog__mainBlogHeading{
    color: white;
    font-family: "Exo 2";
    font-size: 44px;
}
.Blog__publishedData{
    font-size: 17px;
    color: #2a91dd;
    font-family: 'Exo 2';
}
.Blog__mainContent{    
    margin: 10px 0px;
    padding: 10px;
}
.Blog__contentPara{
    color: white;
    font-size: 17px;
    margin: 15px 0px;
}
.BlogContentHeading{
    color: white;
    font-family: "Exo 2";
    font-size: 34px;
}
.Blog__relaredBlogGeadingWrapper{
    background-color: #2a91dd;
    padding: 10px ;
    display: flex;
     justify-content: center;
     align-items: center;
}
.Blog__relatedBlogHeading{
    color: white;
    font-family: "Exo 2";
    font-size: 34px;
}
.relatedBlogLinkWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap:10px;
    margin: 10px 0;
}
.Blog__links{
    color: white;
    font-family: "Exo 2";
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    transition: color .3s ease-in-out;
}
.Blog__links:hover{
    color: #2a91dd;
    
}
.Blog__popularBlogMainWrapper{
    margin: 25px 0px;
}





























.Blog__relativeBlogMainWrapper{
    width: 40%;
    padding: 10px;
    
}