@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Hind:wght@300;400;500;600;700&family=Reddit+Mono:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* top bar and menues*/

.Home_top_bar {
  background: linear-gradient(180deg, #2a91dd 0%, rgba(0, 0, 0, 0) 100%);
}

.Home_top_bar_email_text {
  color: rgba(255, 255, 255, 1);
}

.Home_top_bar_divider {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.Home_top_bar_phn_no {
  color: rgba(255, 255, 255, 1);
}

.Home_top_bar_fb_icon {
  width: 32px !important;
  height: 32px !important;
  opacity: 1 !important;
}

.Home_top_bar_linkedin_icon {
  border: round;
}

.Home_top_bar_get_quota_btn {
  color: white;
  border-radius: 43px;
  width: 130px;
  border: none;
  background: linear-gradient(96.58deg, #2589d2 6.11%, #2dc2e3 92.54%);
  height: 40px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  z-index: 2;
}

.Home_top_bar_get_quota_btn::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: 0.4s;
  z-index: -1;
}

.Home_top_bar_get_quota_btn:hover::after {
  bottom: 0%;
}

.Home_top_bar_get_quota_btn:hover {
  color: #2a91dd;
}

.Home_top_bar_icon {
  width: 17.99px !important;
  height: 19.55px !important;
}

.Home_logo {
  width: 20%;
}

.Home_menu {
  margin-top: 0;
}

.Home_menu_list {
  display: inline-flex;
  align-items: flex-start;
  gap: 11px;
}

.Home_other_menues_active {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: unset;
  margin-left: 1%;
  margin-top: 9%;
  white-space: nowrap;

  cursor: pointer;
}

.Home_other_menues {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  margin-left: 1%;
  margin-top: 9%;
  white-space: nowrap;
  cursor: pointer;
}

.Home_menue_active {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: unset;
  margin-left: 6%;
  margin-top: 9%;
  white-space: nowrap;
  cursor: pointer;
}

.Home_menue {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  margin-left: 6%;
  margin-top: 9%;
  white-space: nowrap;
  cursor: pointer;
}

.Home_signup_btn {
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 2px solid #fff;
  margin-left: 8%;
  height: 10px;
  margin-top: 3.5%;
  width: 40px;
  background-color: transparent;
  color: white;
  white-space: nowrap;

  /* for hoverEffect */
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: 0.5s;
}

/* hover effect for signup start */

.Home_signup_btn::after {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  z-index: -1;
  transition: 0.4s;
}

.Home_signup_btn:hover::after {
  bottom: 0%;
}

.Home_signup_btn:hover {
  color: #2a91dd;
}

/* hover effect for signup end */

.Home_login_btn {
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 2px solid #fff;
  margin-left: 2%;
  height: 10px;
  margin-top: 3.5%;
  width: 40px;
  color: #2a91dd;
  white-space: nowrap;

  position: relative;
  overflow: hidden;
  transition: 0.5s;
  z-index: 2;
}

/* hover effect for .login-btn start */

.Home_login_btn::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(96.58deg, #2589d2 6.11%, #2dc2e3 92.54%);

  z-index: -1;
  transition: 0.4s;
}

.Home_login_btn:hover {
  color: #fff;
}

.Home_login_btn:hover::after {
  bottom: 0%;
}

/* hover effect for .login-btn end */

/* our mission */

.Home_our_mission_btn {
  display: inline-flex;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 33px;
  background: var(
    --blue-green-gradient,
    linear-gradient(92deg, #53b3fa 5.18%, #abd021 99.12%)
  );
  height: 40px;
  /* margin-top: 167.54px; */
  margin-left: 100px;
}

.Home_our_mission_text {
  color: #202020;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_our_mission_div {
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: 100px;
}

.Home_our_mission_heading {
  width: 500px;
  left: 0px;
  top: 0px;
  position: absolute;
  color: white;
  font-size: 32px;
  font-family: "Exo 2";
  font-weight: 700;
  word-wrap: break-word;
}

.Home_our_mission_main {
  width: 508px;
  left: 0px;
  top: 181px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Hind;
  font-weight: 400;
  word-wrap: break-word;
}

.Home_our_mission_img {
  width: 100%;
  height: 100%;
  position: relative;
}

.Home_our_mission_shadow {
  margin-left: 580px;
  fill: #000;
  /* opacity: 0.4; */
  /* filter: blur(10.199999809265137px); */
  width: 150px;
  height: 35px;
  margin-top: -26px;
  /* flex-shrink: 0; */
}

.Home_our_mission_main_image_bg {
  height: 400px !important;
  width: 500px !important;
  border-radius: 532px;
  opacity: 0.3;
  background: #2a91dd;
  filter: blur(100px);
  margin-left: 500px;
  /* margin-right: 100px; */
}

.Home_our_mission_main_image {
  height: 400px !important;
  width: 500px !important;
  margin-left: 350px;
  margin-right: 100px;
  margin-top: -78px;
}

.Home_our_mission_learn_more_btn {
  display: inline-flex;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  margin-top: 370px;
  margin-left: -1px;
  border-radius: 36px;
  border: 2px solid #fff;
  width: 150px;
  white-space: nowrap;
}

.Home_our_mission_learn_more_text {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* our visison */

.Home_our_vision_btn {
  display: inline-flex;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 33px;
  background: var(
    --blue-green-gradient,
    linear-gradient(92deg, #53b3fa 5.18%, #abd021 99.12%)
  );
  height: 40px;
  margin-top: 108.54px;
  margin-left: 58%;
}

.Home_our_vision_text {
  color: #202020;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_our_vision_div {
  width: 50%;
  height: 50%;
  position: relative;
  margin-left: 58%;
}

.Home_our_vision_heading {
  width: 500px;
  left: 0px;
  top: 0px;
  position: absolute;
  color: white;
  font-size: 32px;
  font-family: "Exo 2";
  font-weight: 700;
  word-wrap: break-word;
}

.Home_our_vision_main {
  width: 508px;
  left: 0px;
  top: 140px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Hind;
  font-weight: 400;
  word-wrap: break-word;
}

.Home_our_vision_learn_more_btn {
  display: inline-flex;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  margin-top: 370px;
  margin-left: -1px;
  border-radius: 36px;
  border: 2px solid #fff;
  width: 150px;
  height: 30%;
}

.Home_our_vision_learn_more_text {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home_our_vision_img {
  width: 50%;
  height: 50%;
  position: relative;
}

.Home_our_vision_shadow {
  margin-left: 100px;
  fill: #000;
  width: 150px;
  height: 35px;
}

.Home_our_vision_main_image_bg {
  height: 400px !important;
  width: 500px !important;
  border-radius: 532px;
  opacity: 0.3;
  background: #2a91dd;
  filter: blur(100px);
  margin-right: 650px;
  margin-left: 70px;
  margin-top: -990px;
}

.Home_our_vision_main_image {
  height: 400px !important;
  width: 500px !important;
  margin-left: 70px;
  margin-right: 650px;
  margin-top: -490px;
}

.Home_our_vision_tele_shad_1 {
  margin-top: -245px;
  margin-left: 125px;
}

.Home_our_vision_tele_shad_2 {
  margin-top: -200px;
  margin-left: 55px;
}

.Home_our_vision_tele_shad_3 {
  margin-top: -265px;
  margin-left: -25px;
}

/* .rectangle {
    width: 300px;
    height: 382px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1.5px solid #FFF;
    backdrop-filter: blur(5px);
} */

/* .tm-heading {

    color: #FFF;
    font-family: "Exo 2";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

/* .unlock {
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Hind !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

/* cus */
.Home_choose_us_para {
  color: #fff;
  font-family: "Exo 2";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_choose_us_cards_btns {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.Home_choose_us_para_2 {
  color: #fff;
  font-family: Hind;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: sticky;
  white-space: nowrap;
}

.Home_choose_us_para_div {
  border-radius: 8px;
  border: 1px solid #b6e0ff;
  box-shadow: 0px 0px 8.2px 0px #62d9ff;
}

.Home_choose_us_height_incr_div_text {
  color: #fff;
  font-family: Hind;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 220px;
}

.Home_choose_us_question_img {
  zoom: 69%;
}

.Home_choose_us_lm_btn {
  display: flex;
  justify-content: center;
  border-radius: 36px;
  border: 2px solid #fff;
  width: 150px;
  margin-top: 3%;
  align-items: center;
  height: 50px;
}

.Home_choose_us_lm_text {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home_choose_us_arrow {
  width: 16px;
  height: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.Home_choose_us_cr {
  width: 32px;
  height: 32px;
  margin-top: 12px;
}

/* Home_faq_*/
.Home_faq_lm_btn {
  display: inline-flex;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  margin-top: 3%;
  margin-left: -1px;
  border-radius: 36px;
  border: 2px solid #fff;
  width: 150px;
  white-space: nowrap;
}

.Home_faq_lm_text {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home_faq_para {
  color: #fff;

  font-family: "Exo 2";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_faq_all_ques {
  display: inline-flex;
  height: 20%;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  flex-shrink: 0;
  margin-left: 22%;
  width: 50%;
}

.Home_faq_question {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
}

.Home_faq_text {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_faq_plus {
  margin-left: 10px;
  margin-bottom: 2%;
  cursor: pointer;
}

.Home_faq_height_incr_div_text {
  color: #fff;
  font-family: Hind;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 500px;
}

/* footer */
.Home_footer_logo_section {
  display: inline-flex;
  height: 20%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  width: 30%;
}

.Home_footer_logo-white {
  width: 30%;
}

.Home_footer_logo_white_para {
  color: #fff;
  font-family: Hind;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home_footer_main-para {
  width: 50%;
}

.Home_footer_menues {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 9%;
}

.Home_footer_menu {
  color: #fff;
  font-family: "Exo 2";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.5;
}

.Home_footer_menu_main {
  color: #fff;
  font-family: "Exo 2";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_footer_quote {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.Home_footer_menu_2nd {
  color: #fff;
  font-family: "Exo 2";
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.5;
}

/* testimonials */

.Home_testimonials_para {
  color: #fff;
  font-family: Hind;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Home_testimonials_prev_next_btn {
  width: 5%;
  height: 5%;
}

.Home_testimonials_name {
  color: #fff;
  font-family: Hind;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_testimonials_proff {
  color: #fff;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home_testimonials_title_para {
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* training modules */

.Home_training_modules_card_main {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  height: 370px;
  border-radius: 16px;
  border: 1.5px solid #fff;
  cursor: pointer;
}

.Home_training_modules_card_logo {
  width: 25%;
}

.Home_training_modules_card_title {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_training_modules_card_desc {
  color: #fff;
  /* width: 100%; */
  /* height: 100%; */
  font-family: Hind;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home_training_modules_card_title_anime {
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(97deg, #2589d2 6.11%, #2dc2e3 92.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Home_training_modules_card_desc_anime {
  color: #fff;
  font-family: Hind;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home_training_modules_para {
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 50%;
}

.Home_training_modules_para_main {
  width: 1030px;
  display: flex;
  justify-content: center;
}

.Home_training_modules_semi_para {
  color: #fff;
  text-align: center;
  font-family: Hind;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.Home_training_modules_semi_para_main {
  width: 1030px;
  display: flex;
  justify-content: center;
}

.Home_training_modules_view_btn {
  display: flex;
  height: 54px;
  padding: 9px 7px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 28px;
  background: linear-gradient(97deg, #2589d2 6.11%, #2dc2e3 92.54%);
}

.Home_training_modules_view_btn_2nd_div {
  display: flex;
  height: 54px;
  padding: 9px 7px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 28px;
  align-items: center;
}

.Home_training_modules_view_btn_text {
  color: #fff;
  font-family: "Exo 2";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_training_modules_view_btn_vector {
  width: 10px;
  height: 13px;
  transform: rotate(1deg);
  stroke-width: 2.5px;
  stroke: #fff;
  margin-top: 2%;
}

.Get__Quotes {
  position: absolute;
  backdrop-filter: blur(12px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Get__Quotes_FormWrapper {
  border-radius: 32px;
  background: url(../assets/GetQuotesFormBg.png) #202020;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 50%;
  height: 70%;
  padding: 20px;
}
.Get__Quotes_headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Get__Quotes_ImgWrpper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Get__Quotes_ImgWrpper img {
  width: 80%;
  transition: 0.15s linear;
}

.Get__Quotes_ImgWrpper:hover img {
  transform: rotate(90deg);
}

.Get__Quotes_FormContainer {
  width: 90%;
  margin: 30px auto;
}
.Get__Quotes_InputsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}
.Get__Quotes_InputWrapper {
  width: 47%;
}
.Get__Quotes_InputWrapper input {
  width: 100%;
  padding: 10px 14px;

  border-radius: 11px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #202020;

  color: #ccc;

  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  outline: none;
}

.Get__Quotes_SubjectsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 15px auto;
}
.Get__Quotes_SubjectWrapper {
  width: 100%;
}

.Get__Quotes_SubjectWrapper select {
  width: 100%;
  margin: 0 auto;
  padding: 10px 14px;

  border-radius: 11px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #202020;

  color: #ccc;

  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  outline: none;
}

.Get__Quotes_SubjectWrapper select option {
  border-radius: 11px;
  text-transform: capitalize;
}

.Get__Quotes_MessageWrapper {
  width: 95%;
  margin: 15px auto;
}
.Get__Quotes_TextareaWrapper {
  width: 100%;
}
.Get__Quotes_TextareaWrapper textarea {
  width: 100%;
  padding: 10px 14px;

  border-radius: 11px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #202020;

  color: #ccc;

  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  outline: none;
}

.Get__Quotes_SubmitBtnWrapper {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin: 15px auto;
}

.Get__Quotes_SubmitBtnWrapper button {
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  background: #202020;

  border-radius: 11px;
  border: 1px solid #fff;

  padding: 14px 18px;
}

.Home__topBar__mainWrapper {
  display: none;
}

.Home__navMenu__mainWrapper {
  display: none;
}

.Home__navBar__BTNSWrapper {
  display: none;
}
.Home_our_mission__mainWrapperTab {
  display: none;
}
.Home_our_vision__mainWrapperTab {
  display: none;
}

/* laptop view */

@media (max-width: 1280px) {
  .Home__heroSec {
    margin-top: 5% !important;
  }
  .Home_logo {
    width: 15%;
    object-fit: cover;
    object-position: right;
  }
  .Home_menue {
    color: #fff;
    font-family: "Exo 2";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin-left: 2%;
    margin-top: 6%;
    white-space: nowrap;
    cursor: pointer;
  }
  .Home_other_menues {
    color: #fff;
    font-family: "Exo 2";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin-left: 1%;
    margin-top: 6%;
    white-space: nowrap;
    cursor: pointer;
  }

  .Home_signup_btn {
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 26px;
    border: 2px solid #fff;
    margin-left: 8%;
    height: 10px;
    margin-top: 2%;
    width: 40px;
    background-color: transparent;
    color: white;
    white-space: nowrap;
    font-size: 15px;

    /* for hoverEffect */
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: 0.5s;
  }

  .Home_login_btn {
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 26px;
    border: 2px solid #fff;
    margin-left: 2%;
    height: 10px;
    margin-top: 2%;
    width: 40px;
    color: #2a91dd;
    white-space: nowrap;
    font-size: 15px;

    position: relative;
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
  }

  .Home_our_mission_div {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 33px;
  }

  .Home_our_mission_btn {
    margin-left: 33px;
  }
  .Home_our_mission_heading {
    width: 450px;
    left: 0px;
    top: 0px;
    position: absolute;
    color: white;
    font-size: 28px;
    font-family: "Exo 2";
    font-weight: 700;
    word-wrap: break-word;
  }

  .Home_our_mission_main {
    width: 450px;
    left: 0px;
    top: 150px;
    position: absolute;
    color: white;
    font-size: 17px;
    font-family: Hind;
    font-weight: 400;
    word-wrap: break-word;
  }

  .Home_our_mission_learn_more_btn {
    display: inline-flex;
    padding-top: 12px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 46px;
    margin-top: 300px;
    margin-left: -1px;
    border-radius: 24px;
    border: 2px solid #fff;
    width: 140px;
    white-space: nowrap;
  }
  .Home_our_mission_learn_more_text {
    color: #fff;
    font-family: "Exo 2";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Home_our_mission_main_image_bg {
    margin-left: 420px;
  }
  .Home_our_mission_main_image {
    margin-left: 280px;
    margin-right: 100px;
    margin-top: -78px;
  }
  .Home_our_vision_main_image_bg {
    height: 400px !important;
    width: 450px !important;
    border-radius: 532px;
    opacity: 0.3;
    background: #2a91dd;
    filter: blur(100px);
    margin-right: 650px;
    margin-left: 10px;
    margin-top: -975px;
  }
  .Home_our_vision_main_image {
    height: 400px !important;
    width: 450px !important;
    margin-left: 10px;
    margin-right: 650px;
    margin-top: -420px;
  }
  .Home_our_vision_btn {
    display: inline-flex;
    padding-top: 12px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 33px;
    background: var(
      --blue-green-gradient,
      linear-gradient(92deg, #53b3fa 5.18%, #abd021 99.12%)
    );
    height: 40px;
    margin-top: 108.54px;
    margin-left: 50%;
  }

  .Home_our_vision_div {
    width: 50%;
    height: 50%;
    position: relative;
    margin-left: 50%;
  }

  .Home_our_vision_heading {
    width: 450px;
    left: 0px;
    top: 0px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: "Exo 2";
    font-weight: 700;
    word-wrap: break-word;
  }

  .Home_our_vision_main {
    width: 450px;
    left: 0px;
    top: 100px;
    position: absolute;
    color: white;
    font-size: 17px;
    font-family: Hind;
    font-weight: 400;
    word-wrap: break-word;
  }

  .Home_our_vision_learn_more_btn {
    display: inline-flex;
    padding-top: 12px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    margin-top: 310px;
    margin-left: -1px;
    border-radius: 36px;
    border: 2px solid #fff;
    width: 150px;
    height: 30%;
  }

  .Home_testimonials_contentWrapper {
    margin-right: 0% !important;
  }

  .Home_testimonials_para {
    color: #fff;
    font-family: Hind;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .Home_testimonials_prev_Btn {
    width: 40px;
    height: 40px;
  }
  .Home_testimonials_next_Btn {
    width: 40px;
    height: 40px;
  }

  .Home_choose_us_question_img {
    zoom: 50%;
  }

  .Home_choose_us_contentWrapper {
    margin-left: 4% !important;
  }
  .Home_choose_us_headingWrapper {
    width: 90% !important;
  }
  .Home_choose_us_cards_btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 50%;
  }
  .Home_choose_us_para_div {
    border-radius: 8px;
    border: 1px solid #b6e0ff;
    box-shadow: 0px 0px 8.2px 0px #62d9ff;
    width: 100%;
  }
  .Home_choose_us_dropDownWrapper {
    justify-content: space-between;
    width: 90%;
  }

  .Home_faq_mainWrapper {
    margin-left: 4% !important;
    margin-right: 4% !important;
  }
  .Home_faq_all_ques {
    display: inline-flex;
    height: 20%;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    flex-shrink: 0;
    margin-left: 0%;
    width: 50%;
  }
  .Home_faq_question {
    display: flex;
    width: 425px;
    justify-content: space-between;
    align-items: center;
  }

  .Home_footer_logo_section {
    display: inline-flex;
    height: 20%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    width: 25%;
  }

  .Home_footer_quoteWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .Home_footer_quoteImg {
    width: 80%;
  }
  .Home_footer_menues {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 10%;
  }
}
/* tablet view */
@media (max-width: 768px) {
  .Annoucement__wrapper {
    display: none !important;
  }
  .Home__topBar__mainWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .Home__topBar__iconAndLinkWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  .topBar_iconWrapper {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topBar_iconWrapper img {
    width: 60%;
  }
  .Home__topBar__telLink {
    color: rgba(255, 255, 255, 1);
    font-family: "Exo 2";
    font-size: 13px;
    text-decoration: none;
  }
  .Home__topBar__telLink:hover {
    color: rgba(255, 255, 255, 1);
  }
  .Home__topBar__telAndMailWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .Home__topBar__socialMedia__mainWrapper {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 10px;
  }
  .Home__topBar__socialLink {
    list-style: none;
    background-color: white;
    border-radius: 50%;
    height: 25px;
    width: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Home__topBar__socialIcon {
    width: 25px;
  }

  .Home__topBar__getQuote__BTN {
    width: 15%;
    border: none;
    border-radius: 43px;
    padding: 6px 0;
    font-weight: 500;
    font-family: "Exo 2";
    background: linear-gradient(96.58deg, #2589d2 6.11%, #2dc2e3 92.54%);
    color: white;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
  }

  .Home__topBar__getQuote__BTN::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 0.4s;
    z-index: -1;
  }

  .Home__topBar__getQuote__BTN:hover::after {
    bottom: 0%;
  }

  .Home__topBar__getQuote__BTN:hover {
    color: #2a91dd;
  }

  .Home_menu_list {
    display: none;
  }

  .Home__navBar__outerWrapper {
    justify-content: space-between;
  }

  .Home__navMenu__mainWrapper {
    position: absolute;
    background-color: #202020;
    padding: 20px 0px !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px !important;
  }
  .Home__navMenu__mainWrapper ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 0 !important;
    padding: 0 !important;
  }

  .Home__navMenu__Links {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0 !important;
    /* padding: 0 !important; */
    text-align: center !important;
    padding: 5px;
    transition: all 0.32s ease-in-out;
  }
  .Home__navMenu__Links:hover {
    background-color: rgb(110, 110, 110);
    transform: scale(1.1);
  }
  .Home__navMenu__Links {
    color: white;
    font-size: 25px;
    font-family: "Exo 2";
    font-weight: 500;
    text-decoration: none;
    margin: 0 !important;
  }
  .Home_logo {
    width: 20%;
    object-fit: cover;
    object-position: right;
  }
  .Home_signup_btn,
  .Home_login_btn {
    display: none;
  }

  .Home__navBar__BTNSWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
  }

  .Home__navBar__signUp__BTN {
    padding: 8px 12px;
    border: 2px solid #fff;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    font-family: "Exo 2";
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;

    /* for hoverEffect */
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: 0.5s;
  }

  /* hover effect for signup start */

  .Home__navBar__signUp__BTN::after {
    position: absolute;
    content: "";
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    z-index: -1;
    transition: 0.4s;
  }

  .Home__navBar__signUp__BTN:hover::after {
    bottom: 0%;
  }

  .Home__navBar__signUp__BTN:hover {
    color: #2a91dd;
  }
  .Home__navBar__logoIn__BTN {
    font-family: "Exo 2";
    font-weight: 500;
    border-radius: 20px;
    padding: 8px 12px;
    border: 2px solid #fff;
    color: #2a91dd;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
  }

  /* hover effect for .login-btn start */

  .Home__navBar__logoIn__BTN::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(96.58deg, #2589d2 6.11%, #2dc2e3 92.54%);

    z-index: -1;
    transition: 0.4s;
  }

  .Home__navBar__logoIn__BTN:hover {
    color: #fff;
  }

  .Home__navBar__logoIn__BTN:hover::after {
    bottom: 0%;
  }

  .Home__navBar__menuBTN {
    border: none;
    padding: 8px 12px;
    background: transparent;
  }

  .Home_our_mission__mainWrapper {
    display: none !important;
  }
  .Home_our_mission__mainWrapperTab {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Home_our_mission__textMainWrapper {
    width: 90%;
  }
  .Home_our_mission__titleWrapper {
    width: 20%;
    background: linear-gradient(92deg, #53b3fa 5.18%, #abd021 99.12%);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
  .Home_our_mission__titleWrapper h2 {
    font-size: 18px;
    text-align: center;
    margin: 0px 0px;
    font-family: "Exo 2";
    font-weight: 700;
  }
  .Home_our_mission__EmpowerText {
    color: white;
    margin-top: 10px;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 29px;
  }
  .Home_our_mission__Empowerpara {
    color: white;
    margin-top: 15px;
    font-family: "Exo 2";
    font-weight: 500;
    font-size: 17px;
  }
  .Home_our_mission__learnMoreBtn {
    color: white;
    border: 2px solid white;
    padding: 8px 12px;
    border-radius: 26px;
    font-family: "Exo 2";
    font-weight: 500;
    outline: none;
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  .Home_our_mission__learnMoreBtn:hover {
    background: linear-gradient(to top left, #2589d2 100%, #2dc2e3 100%);
  }

  .Home_our_mission__imgMainWrapper {
    position: relative;
  }

  .Home_our_mission_main_image_bg {
    margin-left: 0px;
    width: 400px !important;
    height: 400px !important;
  }

  .Home_our_mission__imagesWrapper {
    margin-top: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .Home_our_mission__imageTab {
    width: 85%;
  }

  .Home_our_vision__mainWrapper {
    display: none;
  }
  .Home_our_vision__mainWrapperTab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .Home_our_vision__imageWrapper {
    position: relative;
  }

  .Home_our_vision_main_image_bgTab {
    height: 400px !important;
    width: 400px !important;
    border-radius: 532px;
    opacity: 0.3;
    background: #2a91dd;
    filter: blur(100px);
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .Home_our_vision__imageWrapperTab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Home_our_vision__imageTab {
    width: 90%;
  }
  .Home_our_vision__mainContentWrapper {
    /* background: red; */
    width: 90%;
    margin: 0 auto;
  }
  .Home_our_vision__titleWrapper {
    width: 20%;
    background: linear-gradient(92deg, #53b3fa 5.18%, #abd021 99.12%);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
  .Home_our_vision__titleWrapper h3 {
    font-size: 18px;
    text-align: center;
    margin: 0px 0px;
    font-family: "Exo 2";
    font-weight: 700;
  }
  .Home_our_vision__pioneeringText {
    color: white;
    margin-top: 10px;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 29px;
  }
  .Home_our_vision__pioneeringPara {
    color: white;
    margin-top: 15px;
    font-family: "Exo 2";
    font-weight: 500;
    font-size: 17px;
  }
  .Home_our_vision__learnMoreBtn {
    color: white;
    border: 2px solid white;
    padding: 8px 12px;
    border-radius: 26px;
    font-family: "Exo 2";
    font-weight: 500;
    outline: none;
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  .Home_our_vision__learnMoreBtn:hover {
    background: linear-gradient(to top left, #2589d2 100%, #2dc2e3 100%);
  }

  .Home_training_modules_para {
    color: #fff;
    text-align: center;
    font-family: "Exo 2";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 90%;
  }

  .Home_training_modules_semi_para {
    color: #fff;
    text-align: center;
    font-family: Hind;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
  }

  .Home_testimonials__sliderMainWrapper {
    flex-direction: column;
    gap: 30px;
  }
  .Home_testimonials__sliderImageWrapper {
    width: 90% !important;
    justify-content: center !important;
  }

  .Home_testimonials_contentWrapper {
    width: 90% !important;
    margin: 0 auto;
    margin-left: 6%;
  }

  .Home_testimonials_title_para {
    width: 90% !important;
  }

  .Home_choose_us_mainWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Home_choose_us_question_img {
    zoom: 65%;
  }

  .Home_faq_mainWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .Home_faq_text {
    font-size: 17px;
  }

  .Home_faq_mainContentWrapper {
    width: 90% !important;
  }
  .Home_faq_all_ques {
    width: 90%;
  }

  .Home_footer__mainWrapper {
    flex-direction: column !important;
    gap: 20px;
  }
  .Home_footer_logo_section {
    display: inline-flex;
    height: 20%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    width: 90%;
    margin: 0 auto;
  }
  .Home_footer_menues {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 90%;
    margin: 0 auto;
  }
  .Home_footer_quoteImg {
    width: 35%;
  }
}
