@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Hind:wght@300;400;500;600;700&family=Reddit+Mono:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* top bar and menues*/

.Home_top_bar {
  background: linear-gradient(180deg, #2a91dd 0%, rgba(0, 0, 0, 0) 100%);
}

.Home_top_bar_email_text {
  color: rgba(255, 255, 255, 1);
}

.Home_top_bar_divider {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.Home_top_bar_phn_no {
  color: rgba(255, 255, 255, 1);
}

.Home_top_bar_fb_icon {
  width: 32px !important;
  height: 32px !important;
  opacity: 1 !important;
}

.Home_top_bar_linkedin_icon {
  border: round;
}

.Home_top_bar_get_quota_btn {
  color: white;
  border-radius: 43px;
  width: 130px;
  border: none;
  background: linear-gradient(96.58deg, #2589d2 6.11%, #2dc2e3 92.54%);
  height: 40px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  z-index: 2;
}

.Home_top_bar_get_quota_btn::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: 0.4s;
  z-index: -1;
}

.Home_top_bar_get_quota_btn:hover::after {
  bottom: 0%;
}

.Home_top_bar_get_quota_btn:hover {
  color: #2a91dd;
}

.Home_top_bar_icon {
  width: 17.99px !important;
  height: 19.55px !important;
}

.Home_logo {
  width: 20%;
}

.Home_menu {
  margin-top: 0;
}

.Home_menu_list {
  display: inline-flex;
  align-items: flex-start;
  gap: 11px;
}

.Home_other_menues_active {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: unset;
  margin-left: 1%;
  margin-top: 9%;
  white-space: nowrap;

  cursor: pointer;
}

.Home_other_menues {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  margin-left: 1%;
  margin-top: 9%;
  white-space: nowrap;
  cursor: pointer;
}

.Home_menue_active {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: unset;
  margin-left: 6%;
  margin-top: 9%;
  white-space: nowrap;
  cursor: pointer;
}

.Home_menue {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  margin-left: 6%;
  margin-top: 9%;
  white-space: nowrap;
  cursor: pointer;
}

.Home_signup_btn {
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 2px solid #fff;
  margin-left: 8%;
  height: 10px;
  margin-top: 3.5%;
  width: 40px;
  background-color: transparent;
  color: white;
  white-space: nowrap;

  /* for hoverEffect */
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: 0.5s;
}

/* hover effect for signup start */

.Home_signup_btn::after {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  z-index: -1;
  transition: 0.4s;
}

.Home_signup_btn:hover::after {
  bottom: 0%;
}

.Home_signup_btn:hover {
  color: #2a91dd;
}

/* hover effect for signup end */

.Home_login_btn {
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 2px solid #fff;
  margin-left: 2%;
  height: 10px;
  margin-top: 3.5%;
  width: 40px;
  color: #2a91dd;
  white-space: nowrap;

  position: relative;
  overflow: hidden;
  transition: 0.5s;
  z-index: 2;
}

/* hover effect for .login-btn start */

.Home_login_btn::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(96.58deg, #2589d2 6.11%, #2dc2e3 92.54%);

  z-index: -1;
  transition: 0.4s;
}

.Home_login_btn:hover {
  color: #fff;
}

.Home_login_btn:hover::after {
  bottom: 0%;
}

/* hover effect for .login-btn end */

/* our mission */

.Home_our_mission_btn {
  display: inline-flex;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 33px;
  background: var(
    --blue-green-gradient,
    linear-gradient(92deg, #53b3fa 5.18%, #abd021 99.12%)
  );
  height: 40px;
  /* margin-top: 167.54px; */
  margin-left: 100px;
}

.Home_our_mission_text {
  color: #202020;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_our_mission_div {
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: 100px;
}

.Home_our_mission_heading {
  width: 500px;
  left: 0px;
  top: 0px;
  position: absolute;
  color: white;
  font-size: 32px;
  font-family: "Exo 2";
  font-weight: 700;
  word-wrap: break-word;
}

.Home_our_mission_main {
  width: 508px;
  left: 0px;
  top: 181px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Hind;
  font-weight: 400;
  word-wrap: break-word;
}

.Home_our_mission_img {
  width: 100%;
  height: 100%;
  position: relative;
}

.Home_our_mission_shadow {
  margin-left: 580px;
  fill: #000;
  /* opacity: 0.4; */
  /* filter: blur(10.199999809265137px); */
  width: 150px;
  height: 35px;
  margin-top: -26px;
  /* flex-shrink: 0; */
}

.Home_our_mission_main_image_bg {
  height: 400px !important;
  width: 500px !important;
  border-radius: 532px;
  opacity: 0.3;
  background: #2a91dd;
  filter: blur(100px);
  margin-left: 500px;
  /* margin-right: 100px; */
}

.Home_our_mission_main_image {
  height: 400px !important;
  width: 500px !important;
  margin-left: 350px;
  margin-right: 100px;
  margin-top: -78px;
}

.Home_our_mission_learn_more_btn {
  display: inline-flex;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  margin-top: 370px;
  margin-left: -1px;
  border-radius: 36px;
  border: 2px solid #fff;
  width: 150px;
  white-space: nowrap;
}

.Home_our_mission_learn_more_text {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* our visison */

.Home_our_vision_btn {
  display: inline-flex;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 33px;
  background: var(
    --blue-green-gradient,
    linear-gradient(92deg, #53b3fa 5.18%, #abd021 99.12%)
  );
  height: 40px;
  margin-top: 108.54px;
  margin-left: 58%;
}

.Home_our_vision_text {
  color: #202020;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_our_vision_div {
  width: 50%;
  height: 50%;
  position: relative;
  margin-left: 58%;
}

.Home_our_vision_heading {
  width: 500px;
  left: 0px;
  top: 0px;
  position: absolute;
  color: white;
  font-size: 32px;
  font-family: "Exo 2";
  font-weight: 700;
  word-wrap: break-word;
}

.Home_our_vision_main {
  width: 508px;
  left: 0px;
  top: 140px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Hind;
  font-weight: 400;
  word-wrap: break-word;
}

.Home_our_vision_learn_more_btn {
  display: inline-flex;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  margin-top: 370px;
  margin-left: -1px;
  border-radius: 36px;
  border: 2px solid #fff;
  width: 150px;
  height: 30%;
}

.Home_our_vision_learn_more_text {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home_our_vision_img {
  width: 50%;
  height: 50%;
  position: relative;
}

.Home_our_vision_shadow {
  margin-left: 100px;
  fill: #000;
  width: 150px;
  height: 35px;
}

.Home_our_vision_main_image_bg {
  height: 400px !important;
  width: 500px !important;
  border-radius: 532px;
  opacity: 0.3;
  background: #2a91dd;
  filter: blur(100px);
  margin-right: 650px;
  margin-left: 70px;
  margin-top: -990px;
}

.Home_our_vision_main_image {
  height: 400px !important;
  width: 500px !important;
  margin-left: 70px;
  margin-right: 650px;
  margin-top: -490px;
}

.Home_our_vision_tele_shad_1 {
  margin-top: -245px;
  margin-left: 125px;
}

.Home_our_vision_tele_shad_2 {
  margin-top: -200px;
  margin-left: 55px;
}

.Home_our_vision_tele_shad_3 {
  margin-top: -265px;
  margin-left: -25px;
}

/* .rectangle {
    width: 300px;
    height: 382px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1.5px solid #FFF;
    backdrop-filter: blur(5px);
} */

/* .tm-heading {

    color: #FFF;
    font-family: "Exo 2";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

/* .unlock {
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Hind !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

/* cus */
.Home_choose_us_para {
  color: #fff;
  font-family: "Exo 2";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_choose_us_cards_btns {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.Home_choose_us_para_2 {
  color: #fff;
  font-family: Hind;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: sticky;
  white-space: nowrap;
}

.Home_choose_us_para_div {
  border-radius: 8px;
  border: 1px solid #b6e0ff;
  box-shadow: 0px 0px 8.2px 0px #62d9ff;
}

.Home_choose_us_height_incr_div_text {
  color: #fff;
  font-family: Hind;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 220px;
}

.Home_choose_us_question_img {
  zoom: 69%;
}

.Home_choose_us_lm_btn {
  display: flex;
  justify-content: center;
  border-radius: 36px;
  border: 2px solid #fff;
  width: 150px;
  margin-top: 3%;
  align-items: center;
  height: 50px;
}

.Home_choose_us_lm_text {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home_choose_us_arrow {
  width: 16px;
  height: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.Home_choose_us_cr {
  width: 32px;
  height: 32px;
  margin-top: 12px;
}

/* Home_faq_*/
.Home_faq_lm_btn {
  display: inline-flex;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  margin-top: 3%;
  margin-left: -1px;
  border-radius: 36px;
  border: 2px solid #fff;
  width: 150px;
  white-space: nowrap;
}

.Home_faq_lm_text {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home_faq_para {
  color: #fff;

  font-family: "Exo 2";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_faq_all_ques {
  display: inline-flex;
  height: 20%;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  flex-shrink: 0;
  margin-left: 22%;
  width: 50%;
}

.Home_faq_question {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
}

.Home_faq_text {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_faq_plus {
  margin-left: 10px;
  margin-bottom: 2%;
  cursor: pointer;
}

.Home_faq_height_incr_div_text {
  color: #fff;
  font-family: Hind;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 500px;
}

/* footer */
.Home_footer_logo_section {
  display: inline-flex;
  height: 20%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  width: 30%;
}

.Home_footer_logo-white {
  width: 30%;
}

.Home_footer_logo_white_para {
  color: #fff;
  font-family: Hind;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home_footer_main-para {
  width: 50%;
}

.Home_footer_menues {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 9%;
}

.Home_footer_menu {
  color: #fff;
  font-family: "Exo 2";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.5;
}

.Home_footer_menu_main {
  color: #fff;
  font-family: "Exo 2";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_footer_quote {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.Home_footer_menu_2nd {
  color: #fff;
  font-family: "Exo 2";
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.5;
}

/* testimonials */

.Home_testimonials_para {
  color: #fff;
  font-family: Hind;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Home_testimonials_prev_next_btn {
  width: 5%;
  height: 5%;
}

.Home_testimonials_name {
  color: #fff;
  font-family: Hind;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_testimonials_proff {
  color: #fff;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home_testimonials_title_para {
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* training modules */

.Home_training_modules_card_main {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  height: 370px;
  border-radius: 16px;
  border: 1.5px solid #fff;
  cursor: pointer;
}

.Home_training_modules_card_logo {
  width: 25%;
}

.Home_training_modules_card_title {
  color: #fff;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_training_modules_card_desc {
  color: #fff;
  /* width: 100%; */
  /* height: 100%; */
  font-family: Hind;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home_training_modules_card_title_anime {
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(97deg, #2589d2 6.11%, #2dc2e3 92.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Home_training_modules_card_desc_anime {
  color: #fff;
  font-family: Hind;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Home_training_modules_para {
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 50%;
}

.Home_training_modules_para_main {
  width: 1030px;
  display: flex;
  justify-content: center;
}

.Home_training_modules_semi_para {
  color: #fff;
  text-align: center;
  font-family: Hind;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.Home_training_modules_semi_para_main {
  width: 1030px;
  display: flex;
  justify-content: center;
}

.Home_training_modules_view_btn {
  display: flex;
  height: 54px;
  padding: 9px 7px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 28px;
  background: linear-gradient(97deg, #2589d2 6.11%, #2dc2e3 92.54%);
}

.Home_training_modules_view_btn_2nd_div {
  display: flex;
  height: 54px;
  padding: 9px 7px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 28px;
  align-items: center;
}

.Home_training_modules_view_btn_text {
  color: #fff;
  font-family: "Exo 2";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home_training_modules_view_btn_vector {
  width: 10px;
  height: 13px;
  transform: rotate(1deg);
  stroke-width: 2.5px;
  stroke: #fff;
  margin-top: 2%;
}

.Get__Quotes {
  position: absolute;
  backdrop-filter: blur(12px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Get__Quotes_FormWrapper {
  border-radius: 32px;
  background: url(../assets/GetQuotesFormBg.png) #202020;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 50%;
  height: 70%;
  padding: 20px;
}
.Get__Quotes_headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Get__Quotes_ImgWrpper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Get__Quotes_ImgWrpper img {
  width: 80%;
  transition: 0.15s linear;
}

.Get__Quotes_ImgWrpper:hover img {
  transform: rotate(90deg);
}

.Get__Quotes_FormContainer {
  width: 90%;
  margin: 30px auto;
}
.Get__Quotes_InputsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}
.Get__Quotes_InputWrapper {
  width: 47%;
}
.Get__Quotes_InputWrapper input {
  width: 100%;
  padding: 10px 14px;

  border-radius: 11px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #202020;

  color: #ccc;

  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  outline: none;
}

.Get__Quotes_SubjectsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 15px auto;
}
.Get__Quotes_SubjectWrapper {
  width: 100%;
}

.Get__Quotes_SubjectWrapper select {
  width: 100%;
  margin: 0 auto;
  padding: 10px 14px;

  border-radius: 11px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #202020;

  color: #ccc;

  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  outline: none;
}

.Get__Quotes_SubjectWrapper select option {
  border-radius: 11px;
  text-transform: capitalize;
}

.Get__Quotes_MessageWrapper {
  width: 95%;
  margin: 15px auto;
}
.Get__Quotes_TextareaWrapper {
  width: 100%;
}
.Get__Quotes_TextareaWrapper textarea {
  width: 100%;
  padding: 10px 14px;

  border-radius: 11px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #202020;

  color: #ccc;

  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  outline: none;
}

.Get__Quotes_SubmitBtnWrapper {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin: 15px auto;
}

.Get__Quotes_SubmitBtnWrapper button {
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  background: #202020;

  border-radius: 11px;
  border: 1px solid #fff;

  padding: 14px 18px;
}

@media(max-width:1280px){
  .Home_logo {
    width: 15%;
    object-fit: cover;
    object-position: right;
  }
  .Home_menue {
    color: #fff;
    font-family: "Exo 2";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin-left: 2%;
    margin-top: 6%;
    white-space: nowrap;
    cursor: pointer;
  }
  .Home_other_menues {
    color: #fff;
    font-family: "Exo 2";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin-left: 1%;
    margin-top: 6%;
    white-space: nowrap;
    cursor: pointer;
  }

  .Home_signup_btn {
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 26px;
    border: 2px solid #fff;
    margin-left: 8%;
    height: 10px;
    margin-top: 2%;
    width: 40px;
    background-color: transparent;
    color: white;
    white-space: nowrap;
    font-size: 15px;
  
    /* for hoverEffect */
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: 0.5s;
  }

  .Home_login_btn {
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 26px;
    border: 2px solid #fff;
    margin-left: 2%;
    height: 10px;
    margin-top:2%;
    width: 40px;
    color: #2a91dd;
    white-space: nowrap;
    font-size: 15px;
  
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
  }
}
