@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Hind:wght@300;400;500;600;700&family=Reddit+Mono:wght@200..900&display=swap');



/* top bar and menues*/

.Home_top_bar {
    background: linear-gradient(180deg, #2A91DD 0%, rgba(0, 0, 0, 0) 100%);
}

.Home_top_bar_email_text {
    color: rgba(255, 255, 255, 1);
}

.Home_top_bar_divider {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);

}

.Home_top_bar_phn_no {
    color: rgba(255, 255, 255, 1)
}

.Home_top_bar_fb_icon {

    width: 32px !important;
    height: 32px !important;
    opacity: 1 !important;


}

.Home_top_bar_linkedin_icon {
    border: round
}

.Home_top_bar_get_quota_btn {
    color: white;
    border-radius: 43px;
    width: 130px;
    border: none;
    background: linear-gradient(96.58deg, #2589D2 6.11%, #2DC2E3 92.54%);
    height: 40px;
    position: relative;
    overflow: hidden;
    transition: .5s;
    z-index: 2;

}

.Home_top_bar_get_quota_btn::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: .4s;
    z-index: -1;
}

.Home_top_bar_get_quota_btn:hover::after {
    bottom: 0%;
}

.Home_top_bar_get_quota_btn:hover {
    color: #2A91DD;
}

.Home_top_bar_icon {
    width: 17.99px !important;
    height: 19.55px !important;

}

.Home_logo {
    width: 20%
}


.Home_menu {
    margin-top: 0;
}


.Home_menu_list {
    display: inline-flex;
    align-items: flex-start;
    gap: 11px;
}

.Home_other_menues_active {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: unset;
    margin-left: 1%;
    margin-top: 9%;
    white-space: nowrap;

    cursor: pointer;
}

.Home_other_menues {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin-left: 1%;
    margin-top: 9%;
    white-space: nowrap;
    cursor: pointer;
}

.Home_menue_active {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: unset;
    margin-left: 6%;
    margin-top: 9%;
    white-space: nowrap;
    cursor: pointer;
}

.Home_menue {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin-left: 6%;
    margin-top: 9%;
    white-space: nowrap;
    cursor: pointer;
}

.Home_signup_btn {
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 36px;
    border: 2px solid #FFF;
    margin-left: 8%;
    height: 10px;
    margin-top: 3.5%;
    width: 40px;
    background-color: transparent;
    color: white;
    white-space: nowrap;

    /* for hoverEffect */
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .5s;
}

/* hover effect for signup start */

.Home_signup_btn::after {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    z-index: -1;
    transition: .4s;
}

.Home_signup_btn:hover::after {
    bottom: 0%;
}

.Home_signup_btn:hover {
    color: #2A91DD;
}

/* hover effect for signup end */




.Home_login_btn {
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 36px;
    border: 2px solid #FFF;
    margin-left: 2%;
    height: 10px;
    margin-top: 3.5%;
    width: 40px;
    color: #2A91DD;
    white-space: nowrap;

    position: relative;
    overflow: hidden;
    transition: .5s;
    z-index: 2;
}

/* hover effect for .login-btn start */

.Home_login_btn::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(96.58deg, #2589D2 6.11%, #2DC2E3 92.54%);

    z-index: -1;
    transition: .4s;
}

.Home_login_btn:hover {
    color: #fff;
}

.Home_login_btn:hover::after {
    bottom: 0%;
}

/* hover effect for .login-btn end */




/* our mission */

.Home_our_mission_btn {
    display: inline-flex;
    padding-top: 12px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 33px;
    background: var(--blue-green-gradient, linear-gradient(92deg, #53B3FA 5.18%, #ABD021 99.12%));
    height: 40px;
    /* margin-top: 167.54px; */
    margin-left: 100px;
}

.Home_our_mission_text {
    color: #202020;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Home_our_mission_div {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 100px;
}

.Home_our_mission_heading {
    width: 500px;
    left: 0px;
    top: 0px;
    position: absolute;
    color: white;
    font-size: 32px;
    font-family: "Exo 2";
    font-weight: 700;
    word-wrap: break-word;
}

.Home_our_mission_main {
    width: 508px;
    left: 0px;
    top: 181px;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Hind;
    font-weight: 400;
    word-wrap: break-word
}

.Home_our_mission_img {
    width: 100%;
    height: 100%;
    position: relative
}

.Home_our_mission_shadow {
    margin-left: 580px;
    fill: #000;
    /* opacity: 0.4; */
    /* filter: blur(10.199999809265137px); */
    width: 150px;
    height: 35px;
    margin-top: -26px;
    /* flex-shrink: 0; */

}

.Home_our_mission_main_image_bg {
    height: 400px !important;
    width: 500px !important;
    border-radius: 532px;
    opacity: 0.3;
    background: #2A91DD;
    filter: blur(100px);
    margin-left: 500px;
    /* margin-right: 100px; */
}

.Home_our_mission_main_image {



    height: 400px !important;
    width: 500px !important;
    margin-left: 350px;
    margin-right: 100px;
    margin-top: -78px;

}

.Home_our_mission_learn_more_btn {
    display: inline-flex;
    padding-top: 12px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    margin-top: 370px;
    margin-left: -1px;
    border-radius: 36px;
    border: 2px solid #FFF;
    width: 150px;
    white-space: nowrap;
}

.Home_our_mission_learn_more_text {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


/* our visison */

.Home_our_vision_btn {

    display: inline-flex;
    padding-top: 12px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 33px;
    background: var(--blue-green-gradient, linear-gradient(92deg, #53B3FA 5.18%, #ABD021 99.12%));
    height: 40px;
    margin-top: 167.54px;
    margin-left: 58%;
}

.Home_our_vision_text {
    color: #202020;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Home_our_vision_div {
    width: 50%;
    height: 50%;
    position: relative;
    margin-left: 58%;
}

.Home_our_vision_heading {
    width: 500px;
    left: 0px;
    top: 0px;
    position: absolute;
    color: white;
    font-size: 32px;
    font-family: "Exo 2";
    font-weight: 700;
    word-wrap: break-word;
}

.Home_our_vision_main {
    width: 508px;
    left: 0px;
    top: 140px;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Hind;
    font-weight: 400;
    word-wrap: break-word
}

.Home_our_vision_learn_more_btn {
    display: inline-flex;
    padding-top: 12px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    margin-top: 370px;
    margin-left: -1px;
    border-radius: 36px;
    border: 2px solid #FFF;
    width: 150px;
    height: 30%;
}

.Home_our_vision_learn_more_text {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Home_our_vision_img {
    width: 50%;
    height: 50%;
    position: relative;
}

.Home_our_vision_shadow {
    margin-left: 100px;
    fill: #000;
    width: 150px;
    height: 35px;
}

.Home_our_vision_main_image_bg {
    height: 400px !important;
    width: 500px !important;
    border-radius: 532px;
    opacity: 0.3;
    background: #2A91DD;
    filter: blur(100px);
    margin-right: 650px;
    margin-left: 70px;
    margin-top: -990px;
}

.Home_our_vision_main_image {



    height: 400px !important;
    width: 500px !important;
    margin-left: 70px;
    margin-right: 650px;
    margin-top: -490px;

}

.Home_our_vision_tele_shad_1 {
    margin-top: -245px;
    margin-left: 125px;

}

.Home_our_vision_tele_shad_2 {
    margin-top: -200px;
    margin-left: 55px;
}

.Home_our_vision_tele_shad_3 {
    margin-top: -265px;
    margin-left: -25px;
}


/* .rectangle {
    width: 300px;
    height: 382px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1.5px solid #FFF;
    backdrop-filter: blur(5px);
} */

/* .tm-heading {

    color: #FFF;
    font-family: "Exo 2";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

/* .unlock {
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Hind !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */



/* cus */
.Home_choose_us_para {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Home_choose_us_cards_btns {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.Home_choose_us_para_2 {
    color: #FFF;
    font-family: Hind;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: sticky;
    white-space: nowrap
}

.Home_choose_us_para_div {
    border-radius: 8px;
    border: 1px solid #B6E0FF;
    box-shadow: 0px 0px 8.2px 0px #62D9FF;
}

.Home_choose_us_height_incr_div_text {
    color: #FFF;
    font-family: Hind;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 220px;
}

.Home_choose_us_question_img {
    zoom: 69%
}

.Home_choose_us_lm_btn {
    display: flex;
    justify-content: center;
    border-radius: 36px;
    border: 2px solid #FFF;
    width: 150px;
    margin-top: 3%;
    align-items: center;
    height: 50px;


}

.Home_choose_us_lm_text {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Home_choose_us_arrow {
    width: 16px;
    height: 16px;
    margin-top: 20px;
    cursor: pointer
}

.Home_choose_us_cr {
    width: 32px;
    height: 32px;
    margin-top: 12px
}

/* Home_faq_*/
.Home_faq_lm_btn {
    display: inline-flex;
    padding-top: 12px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    margin-top: 3%;
    margin-left: -1px;
    border-radius: 36px;
    border: 2px solid #FFF;
    width: 150px;
    white-space: nowrap;
}

.Home_faq_lm_text {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Home_faq_para {
    color: #FFF;

    font-family: "Exo 2";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Home_faq_all_ques {
    display: inline-flex;
    height: 20%;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    flex-shrink: 0;
    margin-left: 22%;
    width: 50%;
}

.Home_faq_question {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
}

.Home_faq_text {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Home_faq_plus {
    margin-left: 10px;
    margin-bottom: 2%;
    cursor: pointer;

}

.Home_faq_height_incr_div_text {
    color: #FFF;
    font-family: Hind;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 500px;
}



/* footer */
.Home_footer_logo_section {
    display: inline-flex;
    height: 20%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    width: 30%
}

.Home_footer_logo-white {
    width: 30%
}

.Home_footer_logo_white_para {
    color: #FFF;
    font-family: Hind;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Home_footer_main-para {
    width: 50%;

}

.Home_footer_menues {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 9%
}

.Home_footer_menu {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.5;
}

.Home_footer_menu_main {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Home_footer_quote {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}


.Home_footer_menu_2nd {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.5;
}


/* testimonials */

.Home_testimonials_para {
    color: #FFF;
    font-family: Hind;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Home_testimonials_prev_next_btn {
    width: 5%;
    height: 5%;
}

.Home_testimonials_name {
    color: #FFF;
    font-family: Hind;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Home_testimonials_proff {
    color: #FFF;
    font-family: Hind;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Home_testimonials_title_para {
    color: #FFF;
    text-align: center;
    font-family: "Exo 2";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


/* training modules */


.Home_training_modules_card_main {
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    height: 370px;
    border-radius: 16px;
    border: 1.5px solid #FFF;
    cursor: pointer;

}

.Home_training_modules_card_logo {
    width: 25%;
}

.Home_training_modules_card_title {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Home_training_modules_card_desc {
    color: #FFF;
    /* width: 100%; */
    /* height: 100%; */
    font-family: Hind;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Home_training_modules_card_title_anime {

    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(97deg, #2589D2 6.11%, #2DC2E3 92.54%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Home_training_modules_card_desc_anime {
    color: #FFF;
    font-family: Hind;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Home_training_modules_para {
    color: #FFF;
    text-align: center;
    font-family: "Exo 2";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 50%;

}

.Home_training_modules_para_main {
    width: 1030px;
    display: flex;
    justify-content: center;
}

.Home_training_modules_semi_para {
    color: #FFF;
    text-align: center;
    font-family: Hind;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;

}

.Home_training_modules_semi_para_main {
    width: 1030px;
    display: flex;
    justify-content: center;

}

.Home_training_modules_view_btn {
    display: flex;
    height: 54px;
    padding: 9px 7px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 28px;
    background: linear-gradient(97deg, #2589D2 6.11%, #2DC2E3 92.54%)
}

.Home_training_modules_view_btn_2nd_div {
    display: flex;
    height: 54px;
    padding: 9px 7px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 28px;
    align-items: center;

}

.Home_training_modules_view_btn_text {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Home_training_modules_view_btn_vector {
    width: 10px;
    height: 13px;
    transform: rotate(1deg);
    stroke-width: 2.5px;
    stroke: #FFF;
    margin-top: 2%;
}