@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Hind:wght@300;400;500;600;700&family=Reddit+Mono:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
.Register__main__div {
  background-color: #202020;
  color: #fff;
  font-family: "Exo 2";
  font-size: 60px;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Register__rgt__Wrapper {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Register__rgt__LogoAndTitle__Wrapper {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.Register__rgt__LogoAndTitle__Wrapper h1 {
  color: #fff;
  font-family: "Exo 2";
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Register__lft__Wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 30px;
}

.Register__lft__content__wrapper {
  width: 90%;
  height: 70%;
}
.Register__lft__contentTitle {
  color: #fff;
  font-family: "Exo 2";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Register__lft__cotentPara {
  color: #fff;
  font-family: "Hind";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 18px;
}

.Register__lft__inputs__Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.Register__lft__input_wrapper {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Login__lft__EyeIcon{
  position: absolute;
  right: 5%;
  bottom: -30%;
  cursor: pointer;
}
.Login__lft__EyeIcon img{
  width: 18px;
}

.Register__lft__input_wrapper input {
  width: 100%;
  color: #ccc;
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 12px 14px;
  background: #202020;
  outline: none;
}

.Register__lft__selection__Wrapper {
  width: 100%;

  margin-top: 20px;
}
.Register__lft__select__Wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Register__lft__select__Wrapper select {
  width: 100%;
  color: #ccc;
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 12px 14px;
  background: #202020;
  outline: none;
}

.Register__lft__SignIn__BTN {
  color: #fff;
  font-family: "Exo 2";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-radius: 30px;
  border: 1px solid #fff;
  background: #202020;
  padding: 10px 25px;
}

.Register__lft__LoginPara {
  color: #fff;
  font-family: "Hind";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 15px 0;
}
.Register__lft__Link {
  color: #008ed7;
  font-family: "Hind";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 10px;
  text-decoration: none;
}

.Register__lft__SocialloginOp__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-size: 0px;
  margin-top: 30px;
  gap: 40px;
}
.Register__lft__SoptionPara__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.Register__lft__SoptionPara {
  color: #fff;
  font-family: "Hind";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 !important;
}
.Register__lft__optionIcon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Register__lft__IconWrapper{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.Register__lft__IconWrapper img{
    width: 60%;
}
.Register__lft__IconWrapper:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 8.5px 0px rgba(0, 0, 0, 0.25);
}
